body{
    font-family: 'Poppins', sans-serif; 
}
/*navbar*/
nav{
    margin: 20px 30px;
    font-size: 1.2rem;
}
.profile{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 20px;
}
.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 200px;
    background-position: 20px;
    border-radius: 7px;
    width: 400px;
    height: 300px;
    padding: 25px;
    transition: all 1s;
   
  }
  
  .search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
    
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 900px;
    height: 50px;
    right: 20%;
    padding: 10px;
  }.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 200px;
    background-position: 20px;
    border-radius: 7px;
    width: 400px;
    height: 300px;
    padding: 25px;
    transition: all 1s;
  }
  .search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 900px;
    height: 50px;
    right: 20%;
    padding: 10px;
  }
  .active{
      font-weight: 900;
  }

#first{
    padding:5% 10%;
    
}
.art{
    color: #3D56B2;
    font-weight: 900;
}
.title,.art{
    font-family: 'Poppins', sans-serif; 
    font-weight: 900;
    font-size: 2.5rem;
}
.sub-title{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4rem;
    color: #6460607e;
}
.btn{
    padding: 1% 5%;
    font-family: 'Poppins', sans-serif;
}
#second{
    background-color: #3D56B2;
    color: #fff;
    text-align: center;
    padding: 3% 17% 1% 17%;
}
.aims{
    font-family: 'Poppins' sans-serif; 
    font-size: 1.8rem;
    padding-bottom: 15px;
}
.list{
    padding:10px;
    font-size: 1.2rem;
}
.list-group{
    margin-left: 50px;
}

#third{
    background-color: #3D56B2;
    color:#fff;
    padding: 0% 9% 2%;
}
#forth{
    padding:50px 0px 50px 170px;
    
     
}
.c1{
    font-size: 1.1rem;
    font-weight: 900;
}
.forth{
    background-color: #F7F7F7;
    font-weight: 500;
    font-size: 1rem;
    margin: 15px;
    width: 300px;
    height: 300px;
    padding: 30px;
    
}

.symbol{
    background-color: #E8F0F2;
    width: 70px;
    height: 70px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px 0px 20px;
    border-radius: 7px 25px 7px 25px;
}


